*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Red Hat Text', sans-serif;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content;
}

.image-block {
  height: 100vh;
  background-image: url("media/bg-960x1200.jpg");
  background-size: auto;
  background-position: center;
  position: relative;
}

.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-block > * {
  padding: 0 30px;
}

.image-block > div {
  background-color: rgba(0, 26, 141, 0.4);
  border-top: 1px solid rgba(255, 250, 250, 0.3);
  border-bottom: 1px solid rgba(255, 250, 250, 0.3);
  margin-top: 25%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  min-width: 7rem;
  max-width: 10rem;
}

.main-heading {
  display: inline-block;
  font-family: 'Cinzel Decorative', Arial, sans-serif;
  font-size: 4.5rem;
  color:white;
  text-shadow: 0 0 1px black; 
  padding: 0 10px;
}

.attribution {
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.link {
  color: inherit;
}

.copy > p {
  padding-bottom: 3%;
  padding-right: 10%;
  font-size: clamp(0.5rem, 2.5vw, 1.8rem);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 10%;
  padding-right: 15%;
  background-color: lightblue;
}

.form__input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 150px;
  width: 45%;
}

.form__input:last-child {
  padding-bottom: 25px;
}

.button-container {
  width: 100%;
  margin: 15px 0;
}

.form > p {
  width: 100%;
  font-size: 1.8rem;
  margin-top: 25px;
}