*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.container {
  display: grid;
  grid-template-areas: 
    "left header"
    "left form"
    "left footer";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto;
}

.copy {
  grid-area: header;
}

.form {
  grid-area: form;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form > p {
  width: 100%;
}

.form-block > p {
  grid-area: footer;
}

.image-block {
  height: 100vh;
  background: url("media/bg-960x1200.jpg");
  background-size: cover;
}

.image-block > div {
  background-color: rgba(88, 106, 185, 0.25);
  border-top: 1px solid rgba(255, 250, 250, 0.3);
  border-bottom: 1px solid rgba(255, 250, 250, 0.3);
  margin-top: 25%;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.logo {
  display: inline-block;
  min-width: 7rem;
  max-width: 10rem;
}

.main-heading {
  display: inline-block;
  font-family: 'Cinzel Decorative', Arial, sans-serif;
  font-size: 4.5rem;
  color:white;
  text-shadow: 0 0 1px black; 
  padding: 0 10px;
}